*{
    margin: 0;
}

.child_node{
    display: flex;
    align-items: center;
}

/* .App{
    display: flex;
    width: 100vw;

} */

.child_node {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.child_subnode2{
    flex-grow: 5;
}

.signUpList {
    display: flex;
    justify-content: space-between;
}

.paddingAuth {
    border: 1px solid lightcyan;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    padding: 20px;
    width: 300px;
}

.parentauth {
    width: 100vw;
    
}

.parentauth {
    width: auto;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 7px;
}

.leftvote {
    display: inline flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.MoviePosterHeightImage {
    height: 110px;
    width: 75px;
}

.leftrightcenter {
    display: flex;
    gap: 3px;
    justify-content: space-evenly;
}

.headingandcontent{
        display: flex;
        flex-direction: column;
}

.rightmaincontent{
    width: 199px;
}

.rightcontent {
    display: flex;
    gap: 21px;
    justify-content: center;
    align-items: center;
}

.product_1stChild {
    display: inline flex;
    flex-direction: column;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #cfcbcb;
    gap: 10px;
    width: 337px;
}

.btndesign{
    width: 100%;
    background-color: #1F98EC;
    border: none;
    padding: 3px;
    border-radius: 4px;
}

.leftImage {
    display: flex;
    flex-direction: column;
}


.productsmainparent{
    margin-top: 28px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 28px;
    max-width: 1400px;
}

.btndesign{
    color: white;
    cursor: pointer;
}

.rightmenuSystemsubchild{
    display: flex;
    list-style: none;
    gap: 30px;
}

.parentheadersec {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 133px;
    background: aliceblue;
}

@media only screen and (max-width: 600px) {
    #mobileres {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 400px;
    }
  }